<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Website Title</title>
    <!-- Set Favicon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <!-- Import icons -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Import Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Include CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body id="page-top">
    {% block content %}{% endblock %}
    <!-- Include javascript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>